#light_mini {
  background-color: #fff;
  width: 320px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 10px solid #fff;
  z-index: 3;
  box-shadow: 1px 1px 5px #b3b3b3;

  p {
    background-color: #e9f3f9;
    padding: 10px;
    margin: 0;
  }

  a {
    &:hover {
      color: #ee2524 !important;
    }
  }

  .close {
    background-color: #fff;
    padding: 2px 5px;
    position: absolute;
    top: -10px;
    right: -10px;
    opacity: 1;
  }
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

// @mixin bg() {
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
//   cursor: pointer;
// }

// .slide_water {
//   .inno {
//     background-image: url(../../images/slide/inno-th.jpg);
//     @include bg();
//   }

//   .scg_day {
//     background-image: url(../../images/slide/scg_day.jpg);
//     @include bg();
//   }

//   .greenchoice {
//     background-image: url(../../images/slide/greenchoice.jpg);
//     @include bg();
//   }

//   .innoliving {
//     background-image: url(../../images/slide/INNOLIVING.jpg);
//     @include bg();
//   }

//   .next_chapter {
//     background-image: url(../../images/slide/scg-tnce-th.jpg);
//     @include bg();
//   }

//   .next_chapter-en {
//     background-image: url(../../images/slide/scg-tnce-en.jpg);
//     @include bg();
//   }
// }

.content_sl {
  .read_more {
    background-color: green;

    &:hover {
      color: green !important;
    }
  }
}

@media screen and (max-width: 810px) {
  #light_mini {
    width: 70%;
    bottom: 10px;
    right: 10px;
  }

  #slide_v {
    height: 80vh !important;

    .rsOverflow {
      height: 80vh !important;
    }
  }

  // .slide_water {
  //   .inno {
  //     background-image: url(../../images/slide/inno-th-m.jpg) !important;
  //   }

  //   .scg_day {
  //     background-image: url(../../images/slide/scg_day-m.jpg) !important;
  //   }

  //   .greenchoice {
  //     background-image: url(../../images/slide/greenchoice-m.jpg) !important;
  //   }

  //   .innoliving {
  //     background-image: url(../../images/slide/INNOLIVING_m.jpg) !important;
  //   }

  //   .next_chapter {
  //     background-image: url(../../images/slide/scg-tnce-th_m.jpg) !important;
  //   }

  //   .next_chapter-en {
  //     background-image: url(../../images/slide/scg-tnce-en_m.jpg) !important;
  //   }
  // }
}