/* ----------------------- */
.mega-menu {
  width: 550px;
  height: 250px;
  margin-top: 0px;
  left: 30px;
  display: flex;
  float: left;
}

.mega-menu li {
  font-size: 13px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.mega-menu li.mega-menu-column {
  margin-right: 20px;
  width: 150px;
}

.mega-menu .nav-header {
  padding: 0 !important;
  margin-bottom: 10px;
  width: 100%;
}