/* --------------------------------------------
Relevant Style
---------------------------------------------*/
.dropdown-cols-2 .dropdown-menu {
  min-width: 400px;
}
.dropdown-cols-2 .dropdown-menu > div {
  float: left;
  padding: 10px 20px;
}
.dropdown-cols-2 .dropdown-menu ul {
  margin: 0;
  padding: 0;
}
.dropdown-cols-2 .dropdown-menu li {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .dropdown-cols-2 .dropdown-menu {
    min-width: 140px;
  }
}

/* --------------------------------------------
Presentational stuff
---------------------------------------------*/
body {
  font-family: "Lato", sans-serif;
}

.dropdown-cols-2 .dropdown-menu h5 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.dropdown-cols-2 a {
  color: #666;
}